.portfolio {
  width: 100%;
  margin-top: 30px;
}
.about {
  margin-top: 30px;
  text-align: justify;
  font-size: 15px;
}
.author {
  text-transform: uppercase;
  font-weight: bolder;
}
#author {
  text-align: justify;
}
#homeParagraph {
  color: aqua;
}
.contacts1 {
  text-align: center;
}
.contacts2 {
  font-size: 20px;
}
.contacts3 {
  padding: 15px;
  text-align: center;
}
iframe {
  width: 900px;
  height: 250px;
  padding: 15px;
}
label {
  font-size: 15px;
  color: black;
}
.paint {
  font-size: 20px;
}
.title {
  font-size: 17px;
  font-weight: bolder;
}
.card {
  height: 450px;
}
#language-website {
  background-color: black;
  text-transform: uppercase;
}
#language-mobile {
  background-color: whitesmoke;
  text-transform: uppercase;
}
.changeLanguage {
  background-color: whitesmoke;
  text-transform: uppercase;
}
.dropdown-content li > a {
  background-color: black;
  text-align: center;
  color: whitesmoke;
}
.fa-facebook-square {
  background-color: black;
  color: white;
}
.fa-instagram {
  background-color: black;
  color: white;
}
